Source: mint-artwork-lxde
Section: x11
Priority: optional
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 9), intltool
Standards-Version: 3.9.6
Homepage: http://www.linuxmint.pl/
Vcs-Browser: https://github.com/linuxmintpl/mint-artwork-lxde
Vcs-Git: https://github.com/linuxmintpl/mint-artwork-lxde.git

Package: mint-artwork-lxde
Architecture: all
Depends: ${misc:Depends}, gtk2-engines, gtk2-engines-pixbuf,
         gtk2-engines-murrine, gtk3-engines-unico
Breaks: lubuntu-artwork, lubuntu-artwork-15-04
Suggests: mint-backgrounds-rebecca
Description: Artwork for Linux Mint LXDE
 Artwork for Linux Mint LXDE, contained the wallpaper and others specific images and 
 logos.

